.grid-editphone{font-size: 1rem;padding: 0;}
.box{padding: 1rem;line-height: 3rem;}
.in-short{width: 7rem;}
.auth-code{height: 2rem;width: 6rem;margin-left: 0.5rem;}
.get-phone-auth{margin-left: 0.5rem;}
.box form > div{padding: 0.5rem 0;}